

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

 <style>
   nav{
      background-color: rgb(60,255,0);
      height: 8vh;
   }
   /* hr{
     color: white;
     margin: 0;
     padding: 0;
     border-top: 1px solid white;
   } */
   body{
     background: black;
     color: white;
   }
   img{
     height:200px;
     width: 200px;
     border: 4px solid rgb(60,255,0);
   }
   .col-sm-2{
     /* margin-left: 5px;
     margin-right: 5px; */
   }
   h5{
     margin: 10px 5px;
     text-align: center;
   }
   span{
     color: rgb(60,255,0);
   }
  .col-xl-2{
    text-align: center;
    align-items: center;
  }
  /* CORE STYLES */
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url('https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
@media (min-width: 991px) {
  .menu-wrap .hamburger {
    width: 76px;
    height: 76px;
  }
 }
 @media (max-width: 991px) {
   .menu-wrap .hamburger {
     width: 77px;
     height: 77px;
   }
  }
 /* @media only screen and (max-width: 991px) {
   .menu-wrap .hamburger {
     height: 79px;
     width:79px;
   }
 } */
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

 </style>
  </head>

  <body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand"  href="/home">MediaWorks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Player<span class="sr-only">(current)</span></a>
      </li>
  </ul>


      <a href="/users/logout" class="btn btn-secondary">Logout</a>


  </div>
</nav> -->
<div class="container-fluid" style="background: rgb(60,255,0);padding: 10px; top:0; position: fixed;z-index:1;color:black">
  <h2 style="text-align:center;padding-top:10px;">Media<span style="color:blue;">W</span>orks </h1>
  <div class="menu-wrap">
      <input type="checkbox" class="toggler">
      <div class="hamburger"><div></div></div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="/index">Music Player</a></li>
              <li><a href="/users/logout">Log out</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- <hr> -->
<% var song = " ";var Play = " ";var j=0; %>

<!-- Top 50 Global -->

    <h2 style="margin-left: 15px;margin-top: 14vh;margin-bottom: 30px;">Top 50 -<span> Global</span>  </h2>
    <div class="container-fluid">
      <div class="row">

        <% for(var i=0;i<top50GlobalAudio.length;i++) { %>
          <% song = "myAudio" + (j+1)
             Play = "togglePlay"+"(" +(j+1)+ ")" %>
        <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6">
          <audio id="<%=song%>"><source src="<%= top50GlobalAudio[i] %>" />  </audio>
              <img src="<%=top50GlobalImage[i]%>" onClick="<%=Play%>" />
              <h5 class="text"><%= top50GlobalTrackName[i] %></h5>
        </div>
        <% j++ %>
          <% } %>
      </div>

     </div>

<!-- Top 50 India -->

     <h2 style="margin-left: 15px;margin-top: 5vh;margin-bottom: 30px;">Top 50 -<span> India</span>  </h2>
     <div class="container-fluid">
       <div class="row">

         <% for(var i=0;i<top50IndiaAudio.length;i++) { %>
           <% song = "myAudio" + (j+1)
              Play = "togglePlay"+"(" +(j+1)+ ")" %>
         <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6">
           <audio id="<%=song%>"><source src="<%= top50IndiaAudio[i] %>" />  </audio>
               <img src="<%=top50IndiaImage[i]%>" onClick="<%=Play%>" />
               <h5 class="text"><%= top50IndiaTrackName[i] %></h5>
         </div>
         <% j++ %>
           <% } %>
       </div>

<!-- All Out 2010s -->

       <h2 style="margin-left: 15px;margin-top: 5vh;margin-bottom: 30px;">All Out <span> 2010s</span>  </h2>
       <div class="container-fluid">
         <div class="row">

           <% for(var i=0;i<top50IndiaAudio.length;i++) { %>
             <% song = "myAudio" + (j+1)
                Play = "togglePlay"+"(" +(j+1)+ ")" %>
           <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6">
             <audio id="<%=song%>"><source src="<%= allOut2010sAudio[i] %>" />  </audio>
                 <img src="<%=allOut2010sImage[i]%>" onClick="<%=Play%>" />
                 <h5 class="text"><%= allOut2010sTrackName[i] %></h5>
           </div>
           <% j++ %>
             <% } %>
         </div>





      <!-- <div class="fixed-bottom " id="player" style=" background-color: #f1c40f;">
    <div class="container" >
        <audio id="audio0" data1="" data2="" src="" controls volume loop preload="auto"></audio>
    </div>
</div> -->

<script src="/js/home.js" ></script>

  </body>
</html>
